@import "tailwindcss";
@import "./theme.css";
@plugin "@tailwindcss/typography";

/* Fonts */

@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("./fonts/Inter.subset.var.woff2") format("woff2");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
  unicode-range:
    U+0000-00FF, U+0100-024F, U+0300-036F, U+2000-206F, U+2074, U+20AC, U+2122, U+2190-21FF, U+2212,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Monaspace Neon";
  src:
    local("Monaspace Neon"),
    url("./fonts/Monaspace-Neon.subset.var.woff2") format("woff2");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
  unicode-range:
    U+0000-00FF, U+0100-024F, U+0300-036F, U+2000-206F, U+2074, U+20AC, U+2122, U+2190-21FF,
    U+2200-22FF, U+2212, U+2300-23FF, U+2500-257F, U+2580-259F, U+25A0-25FF, U+2700-27BF,
    U+E000-F8FF, U+FE00-FE0F, U+FB00-FB06, U+FEFF, U+FFFD;
}

/* Custom utilities */

@utility page-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  padding-top: 2rem;
  align-items: center;
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
